#panes {
    layout: horizontal;
    height: 1fr;
}
#pane-parent {
    width: 1fr;
    height: 100%;
    border-right: solid $panel-lighten-1;
}
#pane-current {
    width: 1fr;
    height: 100%;
    border-right: solid $panel-lighten-1;
}
#pane-preview {
    width: 2fr;
    height: 100%;
}

DirectoryList DataTable {
    height: 100%;
    background: $panel;
}

StatusBar {
    height: 1;
}
